# Environment Variables for RingCentral

# The Client ID of the app
RINGCENTRAL_CLIENT_ID=9QMZ2nJLTziRXRv3_--48Q

# The Client Secret of the app
RINGCENTRAL_CLIENT_SECRET=zFuFL8eHQ4ep4X1KoUiYugZ46t6aamTCOeG7ESC_iDDw

# The phone number used by the developer when logging into RingCentral. This number will be
# different in sandbox and production. This is also the sender of the message.
RINGCENTRAL_USERNAME=14242108525

# The extension used by the developer when logging into RingCentral. This is only necessary if
# the username/sender above is the company phone number.
RINGCENTRAL_EXTENSION=101

# The password used by the developer when logging into RingCentral
RINGCENTRAL_PASSWORD=

# The phone number of the recipient
RECIPIENT_PHONE_NUMBER=19168699450

# The base URL for call API calls
# Sandbox
RINGCENTRAL_SERVER_URL=https://platform.devtest.ringcentral.com
# Production
#RINGCENTRAL_SERVER_URL=https://platform.ringcentral.com
